:host
    --primary: #F2A922
    --seconday: #D98014
    --tertiary: #D9501E
    --carbon: #323E40
    --danger: #D9501E

button
    border: none
    border-radius: 4px
    display: block
    cursor: pointer
    padding: 1rem
    outline: none

.primary
    background: var(--primary)
    &:hover
        background: red